NODE_ENV=development
PORT=5003
DATABASE_URL="postgresql://postgres:password@localhost:5432/db_dokumen?schema=public"
JWT_SECRET=your-secret-key-min-32-characters-long!!
CORS_ORIGIN=http://localhost:3000
UPLOAD_DIR=./uploads
TRANSAKSI_SERVICE_URL=http://localhost:5004
INTERNAL_SERVICE_KEY=your-internal-service-key-min-32-characters
